<div class="gdpr-popup mat-elevation-z6 mat-typography">
    <div class="gdpr-content">
      <p>Používame súbory cookie na analytické účely a na personalizovanú reklamu. Kliknutím na "Prijať" súhlasíte s používaním súborov cookie. <a [routerLink]="['/terms-conditions']" target="_blank">Viac informácií</a>.</p>
    </div>
    <div class="gdpr-actions">
      <button mat-button class="accept-button" (click)="acceptCookies()">Prijať</button>
      <button mat-button class="decline-button" (click)="declineCookies()">Odmietnuť</button>
    </div>
  </div>
  