<mat-sidenav-container>
  <mat-sidenav #mysidenav>
    <app-toolbar [sideNav]="mysidenav" [insideSideNav]="true"></app-toolbar>
    <mat-nav-list>
      <a
        *ngFor="let route of this.routes"
        routerLinkActive="mdc-list-item--activated"
        mat-list-item
        (click)="toggleSideNav()"
        [routerLink]="route.path"
        >{{route?.data?.[0]["title"]}}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="mat-typography">
    <app-toolbar [sideNav]="mysidenav" [insideSideNav]="false"></app-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
