<div class="top-container">
  <h1 class="title">Súhlasy</h1>
  <mat-card class="top-container__item">
    <mat-card-header
      ><mat-card-title>
        Všeobecné obchodné podmienky
      </mat-card-title></mat-card-header
    >
    <mat-card-content>
      Používaním tejto služby súhlasím s nasledovným. Ak som hráč, ktorý hľadá
      tím:
      <ul>
        <li>
          Súhlasím s tým, aby prevádzkovateľ služby futbal-spoluhráč.sk ukladal
          moje meno, preferované okresy a časy, email telefón a daľšie
          informácie o mne na svojich serveroch za účelom hľadania futbalového
          tímu. Beriem na vedomie, že tento súhlas môžem kedykoľvek odvolať
          prostredníctvom linku, ktorý je poskytnutý v potvrdzovacom emaile.
        </li>
        <li>
          Súhlasím s tým, aby prevádzkovateľ služby futbal-spoluhráč.sk poskytol
          moje meno, preferované okresy a časy, email telefón a daľšie
          informácie o mne tretím stranám za účelom hľadania futbalového tímu.
          Tretími stranami sa tu myslia futbalové tímy, ktoré hľadajú hráčov.
          Beriem na vedomie, že tento súhlas môžem kedykoľvek odvolať
          prostredníctvom linku, ktorý je poskytnutý v potvrdzovacom emaile.
        </li>
        <li>Potvrdzujem, že môj vek je 18 rokov, alebo viac.</li>
      </ul>

      Ak som zástupca tímu, ktorý hľadá hráča:
      <ul>
        <li>
          Súhlasím s tým, aby prevádzkovateľ služby futbal-spoluhráč.sk ukladal
          adresu hry, čas hry, moje meno, email, telefón a daľšie informácie o
          mojom tíme na svojich serveroch za účelom hľadania futbalového tímu.
          Beriem na vedomie, že tento súhlas môžem kedykoľvek odvolať
          prostredníctvom linku, ktorý je poskytnutý v potvrdzovacom emaile.
        </li>
        <li>
          Súhlasím s tým, aby prevádzkovateľ služby futbal-spoluhráč.sk poskytol
          adresu hry, čas hry, moje meno, email, telefón a daľšie informácie o
          mojom tíme tretím stranám za účelom hľadania futbalového tímu. Tretími
          stranami sa tu myslia hráči, ktorí hľadajú futbalové tímy. Beriem na
          vedomie, že tento súhlas môžem kedykoľvek odvolať prostredníctvom
          linku, ktorý je poskytnutý v potvrdzovacom emaile.
        </li>
        <li>
          Potvrdzujem, že môj vek a vek mojich spoluhráčov je 18 rokov, alebo
          viac.
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
  <mat-card class="top-container__item">
    <mat-card-header
      ><mat-card-title> Marketing </mat-card-title></mat-card-header
    >
    <mat-card-content>
      <p>
        V prípade, že som súhlasil s poskytnutím svojich údajov tretím stranám
        za účelom marketingovej komunikácie.
      </p>
      <ul>
        <li>
          Súhlasím s tým, aby prevádzkovateľ služby futbal-spoluhráč.sk poskytol
          adresu hry, čas hry, moje meno, email, telefón, preferované okresy a
          časy a daľšie informácie o mne alebo mojom tíme tretím stranám za
          účelom marketingovej komunikácie.
        </li>
      </ul>

      <p>
        Tento súhlas môžem kedykoľvek odvolať prostredníctvom linku, ktorý je
        poskytnutý v potvrdzovacom emaile.
      </p>
    </mat-card-content>
  </mat-card>
</div>
