<main class="mat-typography">
  <div class="top-container">
    <mat-card class="top-container__item ">
      <mat-card-header>
        <mat-card-title>
          Pomáhame tímom nájsť hráčov a hráčom nájsť tímy
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Našim poslaním je uľahčiť hľadanie spoluhráčov pre tímy, ktoré
          potrebujú záskok. A vytvoriť komunitu, kde každý hráč môže nájsť tím,
          ktorý ho potrebuje.
        </p>

        <p>
          Snažíme sa zabezpečiť, aby nikto nemusel zrušiť hru kvôli nedostatku
          hráčov. A aby každý, kto chce hrať, mohol hrať.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="top-container__item ">
      <mat-card-header>
        <mat-card-title> Autor </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="container">
          <div>
            Volám sa Jaro Orság a som programátor na voľnej nohe. Venujem sa
            kadečomu. Mám veľmi rád šport a spájanie ľudí. Ak chceš, spoj sa
            somnou.
          </div>
          <div class="social-icons">
            <a href="https://sk-sk.facebook.com/people/Jaro-Orsag/pfbid0359xD5o766ext8xsnpciUng79yysJaSC9qeHwboqKcTLaqSpbWdhDF6PiHdgLypual" target="#"><img class="icon" src="../../../assets/fb-icon.png" /></a>
            <a href="https://www.instagram.com/jaro_orsag/" target="#"><img class="icon" src="../../../assets/insta-icon.png" /></a>
            <a href="https://sk.linkedin.com/in/jorsag" target="#"><img class="icon" src="../../../assets/li-icon.png" /></a>
          </div>
          <img class="photo" src="../../../assets/jaro-f-small.jpg" />
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</main>
