<main class="mat-typography">
<mat-card class="intro">
    <mat-card-header>
      <mat-card-title>
        Pomáhame tímom nájsť hráčov a hráčom nájsť tímy
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Našim poslaním je uľahčiť hľadanie spoluhráčov pre tímy, ktoré potrebujú
        záskok. A vytvoriť komunitu, kde každý hráč môže nájsť tím, ktorý ho
        potrebuje.
      </p>

      <p>
        Snažíme sa zabezpečiť, aby nikto nemusel zrušiť hru kvôli nedostatku
        hráčov. A aby každý, kto chce hrať, mohol hrať.
      </p>
    </mat-card-content>
  </mat-card>
</main>