.scenario__steps-wrapper
    display: flex
    justify-content: center

.scenario__steps-wrapper--xsmall
    flex-direction: column
    align-items: center

.scenario__steps-wrapper--small,
.scenario__steps-wrapper--medium,
.scenario__steps-wrapper--large
    flex-direction: row
    align-items: flex-start

.scenario-actions
    display: flex
    justify-content: center
    align-items: center

.scenario-action
    width: 200px
    margin-top: 10px
    margin-bottom: 10px