.scenario
    margin: 10px

.scenario__steps-wrapper
    display: flex
    justify-content: center
    align-items: stretch

.scenario__steps-wrapper--xsmall
    flex-direction: column

.scenario__steps-wrapper--small,
.scenario__steps-wrapper--medium,
.scenario__steps-wrapper--large
    flex-direction: row






.scenario-step
    flex-basis: 30%
    text-align: center
    border: none
    box-shadow: none

.scenario-step__contents-wrapper
    display: flex
    flex-direction: column
    align-items: center




.scenario-step--xsmall
    align-self: center

.scenario-step--small,
.scenario-step--medium, 
.scenario-step--large
    align-self: top
    justify-content: space-around


.scenario-step--small
    min-width: 190px
    xmax-width: 2000px

.scenario-step--xsmall, 
.scenario-step--medium, 
.scenario-step--large
    min-width: 290px
    max-width: 330px






.scenario-step__icon
    font-size: 58px
    color: #3F51B5




.scenario-step__title--xsmall,
.scenario-step__title--medium,
.scenario-step__title--large
    font-weight: 400px
    font-size: 23px

.scenario-step__title--small
    font-weight: 400px
    font-size: 15px




.scenario-step__description
    text-align: center
    margin-top: 10px

.scenario-step__description--small
    font-size: 10px

.scenario-step__description--xsmall, 
.scenario-step__description--medium, 
.scenario-step__description--large
    font-size: 15px




.scenario-actions
    display: flex
    justify-content: center
    align-items: center

.scenario-action
    width: 200px
    margin-top: 10px
    margin-bottom: 10px