<div class="top-container">
  <mat-card class="top-container__item">
    <mat-card-header
      ><mat-card-title> Kontakt </mat-card-title></mat-card-header
    >
    <mat-card-content style="width: 330px">
        Funguje všetko ako má? Je niečo, čo by mohlo byt lepšie? Neváhaj a kontaktuj nás. Každá spätná väzba je pre nás dôležitá.
      <mat-grid-list cols="5" rowHeight="50px">
        <mat-grid-tile
          ><a href="mailto:futbalspoluhrac@gmail.com" target="#"
            ><img class="icon" width="30" height="30" src="../../../assets/email-icon.png" /></a
        ></mat-grid-tile>
        <mat-grid-tile colspan="4" target="#"
          ><a href="mailto:futbalspoluhrac@gmail.com"
            >futbalspoluhrac&#64;gmail.com</a
          ></mat-grid-tile
        >
        <mat-grid-tile
          ><a href="https://www.facebook.com/futbal.spoluhrac.sk" target="#"
            ><img class="icon" width="30" height="30" src="../../../assets/fb-icon.png" /></a
        ></mat-grid-tile>
        <mat-grid-tile colspan="4"
          ><a href="https://www.facebook.com/futbal.spoluhrac.sk" target="#"
            >facebook.com/futbal.spoluhrac.sk</a
          ></mat-grid-tile
        >
        <mat-grid-tile
          ><a href="https://www.instagram.com/futbal_spoluhrac_sk" target="#"
            ><img class="icon" width="30" height="30" src="../../../assets/insta-icon.png" /></a
        ></mat-grid-tile>
        <mat-grid-tile colspan="4"
          ><a href="https://www.instagram.com/futbal_spoluhrac_sk" target="#"
            >instagram.com/futbal_spoluhrac_sk</a
          ></mat-grid-tile
        >

      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>
