<mat-toolbar class="toolbar">
  <span (click)="navigateToLandingPage()">
    <img alt="futbal-spoluhráč.sk logo - Klikni pre návrat na domovskú stránku" class="toolbar__app-icon toolbar__link-to-landing" width="40" height="40" src="../assets/icon.png" />
  </span>
  <span (click)="navigateToLandingPage()" class="toolbar__link-to-landing">futbal-spoluhráč.sk</span>
  <span class="toolbar__space-filler"></span>
  <span *ngIf="!insideSideNav">
    <button mat-icon-button aria-label="Menu" class="toolbar__menu-button">
      <mat-icon (click)="toggleSideNav()" class="toolbar__menu-icon"
        >menu</mat-icon
      >
    </button>
  </span>
</mat-toolbar>
