<mat-toolbar class="toolbar">
  <span (click)="navigateToLandingPage()">
    <img class="toolbar__app-icon" src="../assets/icon.png" />
  </span>
  <span (click)="navigateToLandingPage()">futbal-spoluhráč.sk</span>
  <span class="toolbar__space-filler"></span>
  <span *ngIf="!insideSideNav">
    <button mat-icon-button aria-label="Menu" class="toolbar__menu-button">
      <mat-icon (click)="toggleSideNav()" class="toolbar__menu-icon"
        >menu</mat-icon
      >
    </button>
  </span>
</mat-toolbar>
