<div *ngIf="playerNeed">
    <h2>{{playerNeed.playerName}}</h2>
    <h2>{{playerNeed.about}}</h2>
    <h2>{{playerNeed.dateAdded}}</h2>
</div>
<p>player-need-detail works!</p>
<p>player-need-detail works!</p>
<p>player-need-detail works!</p>
<p>player-need-detail works!</p>
<p>player-need-detail works!</p>
<p>player-need-detail works!</p>
<p>player-need-detail works!</p>
<p>player-need-detail works!</p>
<p>player-need-detail works!</p>
<p>player-need-detail works!</p>
<p>player-need-detail works!</p>
<p>player-need-detail works!</p>