<main class="mat-typography">
  <app-deactivate-need
    [pageState]="this.pageState"
    [handleConfirmedDeactivation]="this.deactivatePlayerNeed.bind(this)"
    dialogText="Už nebudeš dostávať informácie o tímoch, ktoré hľadajú hráča."
  ></app-deactivate-need>
  <app-congratulations
    [navigatedFromAddition]="navigatedFromAddition"
    text="Gratulujem, v tomto momente sme pre Teba začali hľadať tím."
  ></app-congratulations>
  <app-need-summary
    [pageState]="this.pageState"
    [getItems]="getSummaryItems.bind(this)"
    title="Hľadanie tímu"
  ></app-need-summary>
  <app-marketing-consent
    [pageState]="this.pageState"
    [grant]="grantMarketingConsent.bind(this)"
    [revoke]="revokeMarketingConsent.bind(this)"
    [isGranted]="this.playerNeed?.isMarketingConsentGranted || false"
  ></app-marketing-consent>
</main>
