<main class="mat-typography">
  <app-deactivate-need
    [detailPageState]="this.pageState"
    [handleConfirmedDeactivation]="this.deactivatePlayerNeed.bind(this)"
    dialogText="Už nebudeš dostávať informácie o tímoch, ktoré hľadajú hráča."
  ></app-deactivate-need>
  <app-congratulations [navigatedFromAddition]="navigatedFromAddition" text="Gratulujem, v tomto momente sme pre Teba začali hľadať tím."></app-congratulations>
  <mat-card
    class="summary"
    [ngClass]="{
      'summary--inactive': this.pageState == DetailPageState.EXISTS_NOT_ACTIVE,
      'summary--error': this.pageState == DetailPageState.DOES_NOT_EXIST
    }"
  >
    <mat-card-header
      ><mat-card-title>{{ getSummaryTitle() }}</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="this.pageState == DetailPageState.DOES_NOT_EXIST">
      <p>Takéto hľadanie neexistuje, pravdepodobne máš chybný link</p>
    </mat-card-content>
    <mat-card-content
      *ngIf="
        (this.pageState == DetailPageState.EXISTS_NOT_ACTIVE ||
          this.pageState == DetailPageState.EXISTS_ACTIVE) &&
        playerNeed
      "
    >
      <app-need-summary-list-item
        title="Meno"
        [value]="playerNeed.playerName"
      ></app-need-summary-list-item>
      <app-need-summary-list-item
        title="Okresy kde chcem hrať"
        [value]="getDistrictNames()"
      ></app-need-summary-list-item>
      <app-need-summary-list-item
        title="Kedy chcem hrať"
        [value]="playerNeed.availability"
      ></app-need-summary-list-item>
      <app-need-summary-list-item
        title="Email"
        [value]="playerNeed.email"
      ></app-need-summary-list-item>
      <app-need-summary-list-item
        title="Telefón"
        [value]="playerNeed.phone || '-'"
      ></app-need-summary-list-item>
      <app-need-summary-list-item
        title="O mne"
        [value]="playerNeed.about || '-'"
      ></app-need-summary-list-item>
      <app-need-summary-list-item
        title="Vytvorené"
        [value]="playerNeed.dateAdded | date : 'd. L. yyyy o h:mm'"
      ></app-need-summary-list-item>
      <app-need-summary-list-item
        *ngIf="this.pageState == DetailPageState.EXISTS_NOT_ACTIVE"
        title="Ukončené"
        [value]="playerNeed.dateDeactivated | date : 'd. L. yyyy o h:mm'"
      >
      </app-need-summary-list-item>
    </mat-card-content>
  </mat-card>

  <mat-card
    class="marketing"
    *ngIf="
      (this.pageState == DetailPageState.EXISTS_NOT_ACTIVE ||
        this.pageState == DetailPageState.EXISTS_ACTIVE) &&
      playerNeed
    "
  >
    <mat-card-header
      ><mat-card-title>Marketing</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="playerNeed.isMarketingConsentGranted">
      <p>
        Máš aktivovaný odber marketingových emailov.
        <button mat-button color="primary" (click)="revokeMarketingConsent()">
          Zrušiť.
        </button>
      </p>
    </mat-card-content>
    <mat-card-content *ngIf="!playerNeed.isMarketingConsentGranted">
      <p>
        Nemáš aktivovaný odber marketingových emailov.
        <button mat-button color="primary" (click)="grantMarketingConsent()">
          Aktivovať.
        </button>
      </p>
    </mat-card-content>
  </mat-card>
</main>
